@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Nunito:ital,wght@0,300;1,300;1,400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: linear-gradient(white, green);
    font-family: "Nunito", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

/* TITLE */
h1 {
    margin: 30px 0 30px 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 4em;
}

/* Instructions style */
header button {
    display: flex;
    width: fit-content;
    font-size: 1.3em;
    padding: 0 3%;
    background-color: rgb(245, 245, 245, 0.3);
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: darkolivegreen;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
}

header button:hover {
    outline: 2px solid darkolivegreen;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.hidden-instructions {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 1.5em;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* MAIN BODY GAME AREA */
.game-area {
    width: 80%;
    height: fit-content;
    margin: auto;
    text-align: center;
    background-image: radial-gradient(green, yellowgreen, yellow);
    border-radius: 35px;
    border-style: double;
    border-width: 10px;
    border-color: darkseagreen;
    align-items: center;
    justify-content: center;
}

#question {
    margin: 70px 5px 70px 5px;
    font-size: 1.5em;
}

.btn {
    width: 45%;
    height: fit-content;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 5px 10px;
    font-size: 1.4em;
    background-color: darkseagreen;
    border-radius: 35px;
    border-style: solid;
    border-width: 2px;
    border-color: darkolivegreen;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 20px;
}

.btn:hover {
    outline: 3px solid darkolivegreen;
}

.btm-grid {
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 0);
    gap: 10px;
}

/* Submit Answer Button */
.submit-btn {
    display: grid;
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    font-size: 1.3em;
    background-color: lightgreen;
    border-radius: 35px;
    border-style: solid;
    border-width: 2px;
    border-color: darkolivegreen;
    cursor: pointer;
}

.submit-btn:hover {
    outline: 2px solid darkolivegreen;
}

/* Next Question Button */
.next-btn {
    display: grid;
    /* top: 30px; */
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    font-size: 1.3em;
    background-color: lightgreen;
    border-radius: 35px;
    border-style: solid;
    border-width: 2px;
    border-color: darkolivegreen;
    cursor: pointer;
}

.next-btn:hover {
    outline: 2px solid darkolivegreen;
}

/* Start Game Button */
.start-game {
    display: flex;
    justify-content: center;
    margin: 250px auto;
    font-size: 3.9em;
    font-weight: 700;
    border-width: 3px;
    border-color: black;
    cursor: pointer;
    top: 30px;
    padding: 10px 20px;
    text-align: center;
    background-color: lightgreen;
    border-radius: 35px;
    border-style: solid;
}

.start-game:hover {
    outline: 2px solid black;
}

/* Question Counter */
.question-counter {
    margin: 10px 0 35px 0;
    padding-bottom: 10px;
    font-size: 1.4em;
    font-weight: 700;
}

.dead-space {
    height: 400px;
}

/* up the screen dead space for devices from 780px of full height to larger devices and monitors */
@media screen and (min-height: 780px) {
    .dead-space {
        height: 650px;
    }
}

.hide {
    display: none;
}

/* RESULT BOX */
#result-box {
    font-size: 1.4em;
    font-weight: 900;
    margin: 70px 40px 70px 40px;
    background-color: rgb(107, 179, 189, 0.7);
    padding: 30px;
    border-radius: 35px;
    border-style: solid;
    border-color: rgb(71, 112, 112);
    border-width: 3px;
}

#person-message {
    margin-top: 30px;
}

#start-new-game-btn {
    display: grid;
    top: 30px;
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    font-size: 1.3em;
    background-color: lightgreen;
    border-radius: 35px;
    border-style: solid;
    border-width: 2px;
    border-color: darkolivegreen;
    cursor: pointer;
}

/* Change screen size from larger to Medium size devices from 580px down" */
@media screen and (max-width: 580px) {
    header button {
        font-size: 1.1em;
    }

    #question {
        margin: 20px 5px 20px 5px;
        font-size: 1.3em;
    }

    .btn {
        height: fit-content;
        letter-spacing: 1.2px;
        width: 65%;
        font-size: 1.2em;
    }

    #start-new-game-btn {
        top: 30px;
        padding: 10px 20px;
        margin-top: 30px;
        font-size: 1.1em;
    }

    .next-btn {
        margin: 30px auto;
        padding: 10px 20px;
        font-size: 1.2em;
    }

    .submit-btn {
        margin: 30px auto;
        padding: 10px 20px;
        font-size: 1.2em;
    }

    .start-game {
        margin: 200px auto;
        font-size: 2.0em;
        font-weight: 700;
        padding: 10px;
    }

    .question-counter {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    #result-box {
        font-size: 1.2em;
    }

    #person-message {
        margin-top: 30px;
    }

    #start-new-game-btn {
        font-size: 1.2em;
    }
}

/* Change screen size from larger to Medium size devices from 460px down" */
@media screen and (max-width: 460px) {
    header button {
        font-size: 1.1em;
    }

    .hidden-instructions {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        font-size: 1.3em;
    }

    h1 {
        margin: 10px 5px 5px 5px;
        font-size: 3em;
    }

    #question {
        margin: 20px 5px 20px 5px;
        font-size: 1.2em;
    }

    .btn {
        margin: 3px;
        padding: 3px;
        width: 80%;
        letter-spacing: 1.2px;
        font-size: 1.0em;
        height: fit-content;
    }

    #start-new-game-btn {
        top: 30px;
        padding: 10px 20px;
        margin-top: 30px;
        font-size: 1.1em;
    }

    .next-btn {
        margin: 30px auto;
        padding: 10px 20px;
        font-size: 1.1em;
    }

    .submit-btn {
        margin: 30px auto;
        padding: 10px 20px;
        font-size: 1.1em;
    }

    .question-counter {
        font-size: 1.0em;
        margin-bottom: 20px;
    }

    #result-box {
        font-size: 1.1em;
    }

    #person-message {
        margin-top: 30px;
    }

    #start-new-game-btn {
        font-size: 1.0em;
    }

    .dead-space {
        height: 200px;
    }
}


/* Change screen size from larger to Medium size devices from 300px down" */
@media screen and (max-width: 300px) {
    header button {
        font-size: 1.1em;
    }

    h1 {
        margin: 10px 5px 5px 5px;
        font-size: 2.6em;
    }

    #question {
        font-size: 1.1em;
    }

    .btn {
        font-size: 0.9em;
    }

    #start-new-game-btn {
        font-size: 1.0em;
    }

    .next-btn {
        font-size: 1.0em;
    }

    .submit-btn {
        font-size: 1.0em;
    }

    .start-game {
        margin: 200px auto;
        padding: 10px 10px;
        font-size: 1.6em;
        font-weight: 700;
        width: 85%;
    }

    .question-counter {
        font-size: 1.0em;
        margin-bottom: 20px;
    }

    #result-box {
        font-size: 1.0em;
        width: unset;
        margin: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #start-new-game-btn {
        font-size: 1.0em;
    }
}